{% extends 'layout.html' %}

{% block Title %}
Categories
{% endblock %}

{% block body %}
    <h3>Categories</h3>
    <ul>
        {% for category in object_list %}
            <li style="padding: 5px">
                <div>
                    {{ category.name }}
                    <button class="delete-button" type="submit" onclick="deleteCategory(this)" data-category-id={{category.id}}>Delete</button>
                </div>
            </li>
        {% empty %}
            <li>No categories</li>
        {% endfor %}
    </ul>
    <div>
        <h6>New category:</h6>
        <form action="/categories/" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name">
            <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}