.nav-link {
    text-decoration: none;
    color: #696868;
}

.background {
    background-color: #efefef;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.header {
    background-color: #ffffff;
    margin: 0;
    padding: 0 10px 10px 0;
    width: 100%;
}

.content {
    margin: 15px auto;
    padding: 30px 10px;
    width: 100%;
}

.gradient-hr {
    background: linear-gradient(#dddddd, #ebebe7);
    height: 2px;
    margin: 0;
    padding: 0;
}

.header-icon {
    width: 64px;
    display: inline-block;
    margin-right: auto;
}

.header-nav {
    display: inline-block;
    float: right;
}

.delete-button {
    background: none!important;
    border: none;
    padding: 0!important;

    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}